In [1]:
import numpy as np
import pandas as pd

In [2]:
values = pd.read_csv('values.csv')
labels = pd.read_csv('labels.csv')

In [3]:
values

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0

In [4]:
labels

    patient_id  heart_disease_present
0       0z64un                      0
1       ryoo3j                      0
2       yt1s1x                      1
3       l2xjde                      1
4       oyt4ek                      0
..         ...                    ...
175     5qfar3                      1
176     2s2b1f                      1
177     nsd00i                      1
178     0xw93k                      0
179     2nx10r                      0

[180 rows x 2 columns]

In [5]:
values.thal

0                 normal
1                 normal
2                 normal
3      reversible_defect
4      reversible_defect
             ...
175    reversible_defect
176               normal
177    reversible_defect
178               normal
179               normal
Name: thal, Length: 180, dtype: object

In [6]:
set(values.thal.values)

{'fixed_defect', 'normal', 'reversible_defect'}

In [7]:
values.thal = values.thal.astype('category').cat.codes

In [8]:
values.thal

0      1
1      1
2      1
3      2
4      2
      ..
175    2
176    1
177    2
178    1
179    1
Name: thal, Length: 180, dtype: int8

In [9]:
set(values.thal)

{0, 1, 2}

In [10]:
values

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,1,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,1,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,1,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,2,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,2,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,2,2,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,2,1,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,2,2,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,1,1,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,1,1,160,3,1,0,0,201,0.0,0,54,163,0

In [11]:
values

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,1,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,1,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,1,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,2,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,2,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,2,2,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,2,1,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,2,2,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,1,1,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,1,1,160,3,1,0,0,201,0.0,0,54,163,0

In [12]:
values = values.drop('patient_id', axis=1) # don't need patient id

In [13]:
values

,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,1,1,128,2,0,0,2,308,0.0,1,45,170,0
1,2,1,110,3,0,0,0,214,1.6,0,54,158,0
2,1,1,125,4,3,0,2,304,0.0,1,77,162,1
3,1,2,152,4,0,0,0,223,0.0,1,40,181,0
4,3,2,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2,2,125,4,2,1,0,254,0.2,1,67,163,0
176,2,1,180,4,0,0,1,327,3.4,0,55,117,1
177,2,2,125,3,0,0,0,309,1.8,1,64,131,1
178,1,1,124,3,2,1,0,255,0.0,1,48,175,0
179,1,1,160,3,1,0,0,201,0.0,0,54,163,0

In [14]:
labels = labels.drop('patient_id', axis=1)

In [16]:
print(values.shape)
print(labels.shape)

(180, 13)
(180, 1)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(values, labels,
                                                    test_size=0.2, random_state=42)

     heart_disease_present
117                      1
65                       1
67                       0
31                       1
12                       1
..                     ...
71                       0
106                      0
14                       1
92                       0
102                      1

[144 rows x 1 columns]

In [31]:
X_train
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train,Y_train)
pred = rfc.predict(X_test)

/Users/apple/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [32]:
pred

array([0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0])

In [35]:
Y_test

     heart_disease_present
19                       1
42                       0
153                      1
78                       1
145                      0
15                       1
24                       0
68                       0
113                      1
118                      1
93                       1
159                      1
69                       1
142                      0
45                       1
16                       0
51                       0
125                      0
96                       1
56                       1
97                       0
120                      1
143                      1
30                       0
9                        0
172                      1
60                       0
18                       0
148                      1
173                      1
109                      1
55                       0
140                      1
126                      0
66                       1
29                       0

In [38]:
acc = rfc.score(X_test,Y_test)
print(f'Accuracy: {acc*100}%')

Accuracy: 83.33333333333334%